[submodule "third_party/bearlibterminal"]
	path = third_party/bearlibterminal
	url = https://github.com/Feyra-Development-Studio/bearlibterminal.git
[submodule "third_party/renjin"]
	path = third_party/renjin
	url = https://github.com/Feyra-Development-Studio/renjin.git
	branch = dev
